---
import Layout from "../layouts/Layout.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Hero from "../sections/Hero.astro";
import Projects from "../sections/Projects.astro";
---

<Layout title="Portfolio - David Tejada">
  <main class="col-[content] mb-24">
    <Hero />
    <Projects />
    <About />
    <Contact />
  </main>
</Layout>
