---
import Hero from "../components/Hero.astro";
import Pill from "../components/Pill.astro";
import Projects from "../components/Projects.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio - David Tejada">
  <main class="col-[content]">
    <Hero />
    <Projects />

    <div>
      <h2 class="font-syne mt-24 text-3xl font-bold">My Skills</h2>
      <p class="mt-4 leading-relaxed">
        These are the technologies I am more familiar with. Some I have used
        more than others but I feel fairly confident in all of them:
      </p>

      <ul class="mt-4 flex flex-wrap gap-4">
        <li><Tag>Javascript</Tag></li>
        <li><Tag>TypeScript</Tag></li>
        <li><Tag>WebExtensions API</Tag></li>
        <li><Tag>React</Tag></li>
        <li><Tag>NextJS</Tag></li>
        <li><Tag>HTML & CSS</Tag></li>
        <li><Tag>Tailwind</Tag></li>
        <li><Tag>SASS</Tag></li>
        <li><Tag>Git</Tag></li>
        <li><Tag>Python</Tag></li>
      </ul>

      <p class="mt-4 leading-relaxed">I also speak these languages:</p>

      <ul class="mt-4 flex flex-wrap gap-4">
        <li><Pill left="Spanish" right="native" /></li>
        <li><Pill left="English" right="proficient" /></li>
        <li><Pill left="German" right="advanced" /></li>
        <li><Pill left="French" right="intermediate" /></li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  [id] {
    scroll-margin-top: calc(var(--header-height) + 1rem);
  }
</style>
