---
import Pill from "../components/Pill.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Tag from "../components/Tag.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portfolio - David Tejada">
  <main class="col-[content]">
    <div class="hero grid content-center">
      <h1
        class="display-text mb-4 text-7xl font-bold text-white uppercase md:text-9xl dark:text-slate-800"
      >
        David Tejada
      </h1>
      <h2 class="font-syne mb-4 text-4xl font-bold sm:text-8xl">
        I create things for the web.
      </h2>
      <p class="max-w-[50ch] leading-relaxed sm:text-xl">
        I am a frontend developer and the creator of <a
          href="https://rango.click"
          class="underline">Rango</a
        >, a browser extension helping thousands navigate the web by voice. I am
        currently looking for a new job opportunity.
      </p>
      <a
        href="#contact"
        class="mt-8 max-w-fit rounded border border-(--color-accent) px-12 py-4 font-bold text-(--color-accent)"
        >Hire me!</a
      >
    </div>

    <div>
      <h2 class="font-syne mt-24 text-2xl font-bold sm:text-4xl">
        Some things I've built
      </h2>

      <ProjectCard
        title="Rango"
        url="projects/rango"
        repoUrl="https://github.com/david-tejada/rango"
        liveUrl="https://rango.click"
        image="/screenshot-rango.png"
        imageDark="/screenshot-rango-dark.png"
        tags={[
          "WebExtensions API",
          "TypeScript",
          "React",
          "Python",
          "Jest",
          "Puppeteer",
          "Parcel",
          "GitHub Actions",
        ]}
      >
        <p class="mt-8 leading-relaxed">
          A browser extension used by thousands of people every day to navigate
          the web and control their browsers by voice. Available for <a
            class="text-(--color-accent)"
            href="https://chrome.google.com/webstore/detail/rango/lnemjdnjjofijemhdogofbpcedhgcpmb"
            >Chrome</a
          >, <a
            class="text-(--color-accent)"
            href="https://microsoftedge.microsoft.com/addons/detail/rango/pcngjebdhphedjkfhipblkgjbjoeaaeb"
            >Edge</a
          >, <a
            class="text-(--color-accent)"
            href="https://addons.mozilla.org/en-US/firefox/addon/rango/"
            >Firefox</a
          > and <a
            class="text-(--color-accent)"
            href="https://apps.apple.com/es/app/rango-for-safari/id6461166435?l=en-GB&mt=12"
            >Safari</a
          >.
        </p>
      </ProjectCard>

      <ProjectCard
        title="kanban board"
        url="projects/kanban-board"
        repoUrl="https://github.com/david-tejada/fem-kanban-task-management"
        liveUrl="https://dt-fem-kanban-task-management.netlify.app"
        image="/screenshot-kanban.png"
        imageDark="/screenshot-kanban-dark.png"
        tags={[
          "TypeScript",
          "React",
          "React Router",
          "HTML",
          "CSS",
          "Tailwind",
          "Vite",
        ]}
        reverse
      >
        <p class="mt-8 leading-relaxed">
          A kanban board web app. Coded based off the designs provided by
          Frontend Mentor.
        </p>
      </ProjectCard>

      <ProjectCard
        title="myteam"
        url="projects/myteam"
        repoUrl="https://github.com/david-tejada/frontendmentor-challenges/tree/main/18-myteam-multi-page-website"
        liveUrl="https://frontendmentor-challenges-khaki.vercel.app/"
        image="/screenshot-myteam.png"
        imageDark="/screenshot-myteam.png"
        tags={["Typescript", "React", "NextJS", "CSS", "HTML", "Tailwind"]}
      >
        <p class="mt-8 leading-relaxed">
          A full website comprised of home, about and contact pages. Coded based
          off the designs provided by Frontend Mentor.
        </p>
      </ProjectCard>

      <ProjectCard
        title="talon-filetree"
        url="projects/talon-filetree"
        repoUrl="https://github.com/paul-schaaf/talon-filetree"
        liveUrl="https://marketplace.visualstudio.com/items?itemName=PaulSchaaf.talon-filetree"
        image="/screenshot-talon-filetree.png"
        imageDark="/screenshot-talon-filetree-dark.png"
        tags={["Typescript", "VSCode", "VSCode API", "Talon"]}
        reverse
      >
        <p class="mt-8 leading-relaxed">
          I am the main contributor for this open source vscode extension that
          helps users navigate files by voice.
        </p>
      </ProjectCard>
    </div>

    <div>
      <h2 id="about" class="font-syne mt-24 text-3xl font-bold">About Me</h2>
      <p class="mt-4 leading-relaxed">
        I first started programming when I was in university. I started learning
        C++ and found it very enjoyable. I even made my final degree project
        using C++.
      </p>

      <p class="mt-4 leading-relaxed">
        It wasn't until years later that I did my first incursion in web
        development. It was around 2008. I had created a small community of
        photography enthusiast and I made a website composed of a blog and a
        forum to share our pictures and experiences. I remember that I used
        Joomla and that in order to create rounded corners you had to use
        background images. Fun times!
      </p>

      <p class="mt-4 leading-relaxed">
        More recently I decided to focus my efforts on becoming a software
        developer. It was something that I missed and that I was passionate
        about. My first big project was a browser extension. I had started using
        voice to control my computer and one thing that I found lacking was the
        ability to easily control the browser by voice. The solutions up to that
        point were unsatisfying to me. So I set myself to create something
        better. It took me hundreds of hours and had to overcome many challenges
        but I am very happy with the result. Rango, the extension to control
        your browser by voice is used by me and a several hundred other people
        everyday.
      </p>

      <p class="mt-4">
        When I'm not coding I enjoy taking walks to the beach, walking my cats
        (Yes, with a leash!) and eating pizza.
      </p>
    </div>

    <div>
      <h2 class="font-syne mt-24 text-3xl font-bold">My Skills</h2>
      <p class="mt-4 leading-relaxed">
        These are the technologies I am more familiar with. Some I have used
        more than others but I feel fairly confident in all of them:
      </p>

      <ul class="mt-4 flex flex-wrap gap-4">
        <li><Tag>Javascript</Tag></li>
        <li><Tag>Typescript</Tag></li>
        <li><Tag>WebExtensions API</Tag></li>
        <li><Tag>React</Tag></li>
        <li><Tag>NextJS</Tag></li>
        <li><Tag>HTML & CSS</Tag></li>
        <li><Tag>Tailwind</Tag></li>
        <li><Tag>SASS</Tag></li>
        <li><Tag>Git</Tag></li>
        <li><Tag>Python</Tag></li>
      </ul>

      <p class="mt-4 leading-relaxed">I also speak these languages:</p>

      <ul class="mt-4 flex flex-wrap gap-4">
        <li><Pill left="Spanish" right="native" /></li>
        <li><Pill left="English" right="proficient" /></li>
        <li><Pill left="German" right="advanced" /></li>
        <li><Pill left="French" right="intermediate" /></li>
      </ul>
    </div>
  </main>
</Layout>

<style>
  @font-face {
    font-family: "Impact";
    src: url("/fonts/impact.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  .hero {
    min-height: max(
      100svh - 1 * (var(--header-height) + var(--header-margin-top)),
      500px
    );
  }

  [id] {
    scroll-margin-top: calc(var(--header-height) + 1rem);
  }

  .display-text {
    --perspective-x: -3;
    --perspective-y: -2;

    font-family: Impact, Anton, sans-serif;
    text-shadow:
      -1px 1px 0 var(--color-accent),
      0 1px 0 var(--color-accent),
      1px 1px 0 var(--color-accent),
      -1px -1px 0 var(--color-accent),
      calc(-0.02em * (1 + var(--perspective-x)))
        calc(0.02em * (1 + var(--perspective-y))) 0 var(--color-accent),
      calc(-0.04em * (1 + var(--perspective-x)))
        calc(0.04em * (1 + var(--perspective-y))) 0 var(--color-accent),
      calc(-0.06em * (1 + var(--perspective-x)))
        calc(0.06em * (1 + var(--perspective-y))) 0 var(--color-accent);

    letter-spacing: 2px;
  }
</style>

<style>
  .card-image,
  .card-content {
    width: min(100% - 20px, 45ch);
  }

  .card {
    --card-offset-y: 50px;
  }

  .card-image {
    background-image: url("/screenshot-rango.png");
    background-color: var(--color-accent);
    background-size: cover;
    /* background-position: 25%; */
    background-blend-mode: luminosity;
    transition: background-color 0.3s ease-in-out;
    border: 1px solid var(--color-accent);
    /* height: calc(100% - var(--card-offset-y)); */
  }

  .card:hover .card-image {
    background-color: transparent;
  }

  :global(.dark) .card-image {
    background-image: url("/screenshot-rango-dark.png");
    background-blend-mode: darken;
  }
</style>
