---
interface Props {
  title: string;
  description: string;
  href: string;
}

const { title, description, href } = Astro.props;
---

<div
  class="relative mt-8 grid items-center gap-4 rounded-lg border p-8 transition hover:scale-105 hover:border-orange-200 hover:shadow-lg hover:shadow-orange-200 sm:grid-cols-[150px_auto] dark:border-none dark:bg-slate-700 dark:hover:shadow-slate-700/50"
>
  <slot />
  <div>
    <h2 class="text-xl font-bold">
      <a
        href={href}
        class="mt-2 block font-bold text-slate-700 before:absolute before:inset-0 dark:text-white"
        >{title}</a
      >
    </h2>

    <p class="mt-2 leading-relaxed">
      {description}
      <p class="mt-2 block font-bold text-slate-700 dark:text-white">
        Discover more...
      </p>
    </p>
  </div>
</div>
