---
const email = "devtejada@gmail.com";
---

<section aria-labelledby="contact" class="mt-36">
  <h2 id="contact" class="font-syne text-3xl font-bold">Get in Touch</h2>

  <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2">
    <div>
      <p class="leading-relaxed">
        I am <strong>currently looking for a position</strong> as a frontend developer.
        If you think I could be a good fit for your team or you have any questions,
        please don't hesitate to contact me.
      </p>

      <p class="mt-4">
        You can fill out the contact form or send me an email to the address
        below.
      </p>

      <div class="mt-4 flex gap-1">
        <a
          href={`mailto:${email}`}
          class="border-accent text-accent grow rounded-l-xl border border-dashed p-2 text-center"
        >
          {email}
        </a>
        <button
          id="copy-email"
          aria-label="Copy email address to the clipboard"
          data-email={email}
          class="border-accent text-accent rounded-r-xl border p-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="clipboard lucide lucide-clipboard"
            ><rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect><path
              d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="checkmark lucide lucide-check hidden"
          >
            <path d="M20 6 9 17l-5-5"></path>
          </svg>
        </button>
      </div>
    </div>

    <form
      name="contact"
      method="POST"
      action="/success"
      data-netlify="true"
      class="border-accent rounded-xl border p-4"
    >
      <div class="grid">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="border-accent rounded border px-2 py-1"
        />
      </div>

      <div class="mt-4 grid">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="border-accent rounded border px-2 py-1"
        />
      </div>

      <div class="mt-4 grid">
        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          required
          class="border-accent field-sizing-content min-h-24 rounded border px-2 py-1"
        ></textarea>
      </div>

      <button
        type="submit"
        class="bg-accent mt-8 flex w-full items-center justify-center gap-2 rounded px-8 py-2 text-white dark:text-slate-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-send"
          ><path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path><path d="m21.854 2.147-10.94 10.939"></path></svg
        >
        Send
      </button>
    </form>
  </div>

  <p class="mt-4 leading-relaxed"></p>
</section>

<script>
  const copyEmailButton = document.getElementById("copy-email");

  copyEmailButton.addEventListener("click", () => {
    navigator.clipboard.writeText(copyEmailButton.dataset.email);
    copyEmailButton.querySelector(".checkmark").classList.remove("hidden");
    copyEmailButton.querySelector(".clipboard").classList.add("hidden");

    setTimeout(() => {
      copyEmailButton.querySelector(".checkmark").classList.add("hidden");
      copyEmailButton.querySelector(".clipboard").classList.remove("hidden");
    }, 2000);
  });
</script>

<style>
  form {
    box-shadow: 5px 5px 0px 0px var(--color-accent);
  }

  button[type="submit"] svg {
    transition: translate 0.2s ease-in-out;
  }

  button[type="submit"]:hover svg {
    translate: 4px -4px;
  }

  #copy-email svg.clipboard {
    transition: scale 0.2s ease-in-out;
  }

  #copy-email:hover svg.clipboard {
    scale: 1.2;
  }
</style>
