<div class="breakout mt-24 py-16 text-white">
  <h2 class="text-3xl font-bold">Let's Connect</h2>

  <p class="mt-6 leading-relaxed">
    Don't hesitate to get in touch if you are looking for a developer, have any
    questions or just want to connect.
  </p>
  <div class="sm:flex">
    <a
      href="mailto:devtejada@gmail.com"
      class="mt-8 block text-center font-bold">devtejada@gmail.com</a
    >
    <ul class="ml-auto mt-8 flex justify-center gap-8 font-bold">
      <li>
        <a
          href="https://www.linkedin.com/in/david-mart%C3%ADnez-tejada-662880287/"
          class="hover:text-orange-600">LinkedIn</a
        >
      </li>
      <li>
        <a href="https://github.com/david-tejada" class="hover:text-orange-600"
          >GitHub</a
        >
      </li>
      <li>
        <a
          href="https://www.youtube.com/@david-tejada"
          class="hover:text-orange-600">YouTube</a
        >
      </li>
    </ul>
  </div>
</div>

<style>
  .breakout {
    --breakout-color: rgb(51 65 85);
    background-color: var(--breakout-color);
    box-shadow: 0 0 0 100vmax var(--breakout-color);
    clip-path: inset(0 -100vmax);
  }
</style>
