<footer
  class="border-accent col-[full-width] grid grid-cols-subgrid border-t-4 border-dashed"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    viewBox="0 0 24 24"
    fill="none"
    stroke="var(--color-accent)"
    stroke-width="2"
    stroke-linecap="round"
    stroke-linejoin="round"
    class="lucide lucide-scissors absolute translate-x-1/2 -translate-y-[14px] scale-200"
    ><circle cx="6" cy="6" r="3"></circle><path d="M8.12 8.12 12 12"
    ></path><path d="M20 4 8.12 15.88"></path><circle cx="6" cy="18" r="3"
    ></circle><path d="M14.8 14.8 20 20"></path></svg
  >
  <div class="col-[content] py-16">
    <h2 id="contact" class="font-syne text-3xl font-bold">Let's Connect</h2>

    <p class="mt-6 leading-relaxed">
      Don't hesitate to get in touch if you are looking for a developer, have
      any questions or just want to connect.
    </p>
    <div class="sm:flex">
      <a
        href="mailto:devtejada@gmail.com"
        class="mt-8 block text-center font-bold">devtejada@gmail.com</a
      >
      <ul class="mt-8 ml-auto flex justify-center gap-8 font-bold">
        <li>
          <a
            href="https://www.linkedin.com/in/david-mart%C3%ADnez-tejada-662880287/"
            class="hover:text-orange-600">LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/david-tejada"
            class="hover:text-orange-600">GitHub</a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/@david-tejada"
            class="hover:text-orange-600">YouTube</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>

<style>
  footer {
    background-image:;
  }
</style>
