<div class="breakout mt-24 py-16 text-white">
  <h2 class="text-3xl font-bold">Let's Connect</h2>

  <p class="mt-6 leading-relaxed">
    Don't hesitate to get in touch if you are looking for a developer, have any
    question or just want to connect.
  </p>
  <a href="mailto:devtejada@gmail.com" class="mt-4 block font-bold"
    >devtejada@gmail.com</a
  >
</div>

<style>
  .breakout {
    --breakout-color: rgb(51 65 85);
    background-color: var(--breakout-color);
    box-shadow: 0 0 0 100vmax var(--breakout-color);
    clip-path: inset(0 -100vmax);
  }
</style>
