<header class="py-12">
  <div class="flex grow">
    <p class="mr-auto text-lg font-bold"><a href="/">David Tejada</a></p>
    <nav>
      <ul class="flex gap-8">
        <li>
          <a
            href="https://www.linkedin.com/in/david-mart%C3%ADnez-tejada-662880287/"
            ><img src="/icon-linkedIn.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://github.com/david-tejada"
            ><img src="/icon-github.svg" alt="" /></a
          >
        </li>
        <li>
          <a href="https://www.youtube.com/@david-tejada"
            ><img src="/icon-youtube.svg" alt="" /></a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
