<header class="pt-12">
  <div class="flex grow">
    <p class="mr-auto text-lg font-bold">David Tejada</p>
    <nav>
      <ul class="flex gap-8">
        <li>About Me</li>
        <li>My Work</li>
        <li>Contact</li>
      </ul>
    </nav>
  </div>
</header>
