---
import IconGithub from "../components/IconGithub.astro";
import IconLinkedin from "../components/IconLinkedin.astro";
import IconYoutube from "../components/IconYoutube.astro";
import ThemeToggle from "../components/ThemeToggle.astro";
---

<header class="py-12">
  <div class="flex grow">
    <p class="text-lg font-bold">
      <a href="/" class="hover:text-orange-600">David Tejada</a>
    </p>
    <nav class="grow">
      <ul class="flex gap-8">
        <li class="ml-auto">
          <a
            href="https://www.linkedin.com/in/david-mart%C3%ADnez-tejada-662880287/"
            class="hover:text-orange-600"
            ><span class="sr-only">LinkedIn</span><IconLinkedin /></a
          >
        </li>
        <li>
          <a
            href="https://github.com/david-tejada"
            class="hover:text-orange-600"
            ><span class="sr-only">GitHub</span><IconGithub /></a
          >
        </li>
        <li>
          <a
            href="https://www.youtube.com/@david-tejada"
            class="hover:text-orange-600"
            ><span class="sr-only">YouTube</span><IconYoutube /></a
          >
        </li>
        <li class="ml-auto">
          <ThemeToggle />
        </li>
      </ul>
    </nav>
  </div>
</header>
