---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Kanban Board - David Tejada">
  <h1 class="mt-8 max-w-[30ch] text-4xl font-bold">Kanban Board</h1>

  <div class="mt-16 flex flex-col items-center gap-8 sm:flex-row">
    <img
      class="size-32 rounded-md bg-[hsl(235deg,16%,15%)] object-contain p-4"
      src="/logo-kanban.svg"
      alt=""
    />
    <ul>
      <li><strong>Type</strong>: Web App</li>
      <li>
        <strong>Stack</strong>: Typescript, React, React Router, CSS, HTML,
        Tailwind, Vite
      </li>
      <li>
        <strong>Live Site</strong>: <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://dt-fem-kanban-task-management.netlify.app"
          >Kanban Board</a
        >
      </li>
      <li>
        <strong>Repository</strong>: <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://github.com/david-tejada/fem-kanban-task-management"
          >GitHub</a
        >
      </li>
    </ul>
  </div>

  <p class="mt-8">
    This website was coded based on the designs from <a
      class="font-bold text-orange-600 dark:text-orange-400"
      href="https://www.frontendmentor.io/challenges/kanban-task-management-web-app-wgQLt-HlbB"
      >Frontend Mentor</a
    >. Frontend Mentor is a platform where users are given designs and the goal
    is to turn that design into a functioning website. This challenge is of the
    guru level.
  </p>

  <img
    class="mt-8 rounded-sm border border-slate-500"
    src="/kanban-board-screenshot.png"
    alt="Screenshot of the kanban board web app."
  />

  <h2 class="mt-16 text-2xl font-bold">Tech Stack and Challenges</h2>
  <p class="mt-8">
    Selecting the stack for this project has been tricky. Originally I picked
    NextJS. I thought it would be a good idea to create this project full stack
    from the beginning and I already had used NextJS. Mid project I realized
    that I needed to learn more about databases and backend. At that point I was
    more interested in practicing more with React so I decided to just use local
    storage. Using local storage with NextJS quickly becomes a mess of hydration
    errors. At that point I decided to just use React and Vite to get more
    practice building React apps. Further ahead I added React Router to the
    stack, which brought some additional challenges.
  </p>

  <h2 class="mt-16 text-2xl font-bold">Lessons Learned</h2>

  <p class="mt-8 mb-16">
    The most important lesson that I have learned doing this challenge is that
    no matter what stack you pick you're gonna face many difficulties. If I went
    back I would just keep on with my initial idea of using NextJS and learn
    more about backend development.
  </p>
</Layout>
