---
import Layout from "../../layouts/Layout.astro";
import FiveStars from "../../components/FiveStars.astro";
---

<Layout title="myteam - David Tejada">
  <h1 class="mt-8 max-w-[30ch] text-4xl font-bold">myteam</h1>

  <div
    class="mt-16 flex flex-col items-center gap-8 leading-relaxed sm:flex-row"
  >
    <img
      src="/logo-myteam.svg"
      alt=""
      class="size-32 rounded-md bg-[rgb(1,77,86)] object-contain p-4"
    />
    <ul>
      <li><strong>Type</strong>: Multipage Website</li>
      <li>
        <strong>Stack</strong>: Typescript, React, NextJS, CSS, HTML, Tailwind
      </li>
      <li>
        <strong>Live Site</strong>: <a
          class="font-bold text-orange-600"
          href="https://frontendmentor-challenges-khaki.vercel.app/"
          >Myteam Multipage Website</a
        >
      </li>
      <li>
        <strong>Repository</strong>: <a
          class="font-bold text-orange-600"
          href="https://github.com/david-tejada/frontendmentor-challenges/tree/main/18-myteam-multi-page-website"
          >GitHub</a
        >
      </li>
    </ul>
  </div>

  <p class="mt-8">
    This website was coded based on the designs from <a
      class="font-bold text-orange-600"
      href="https://www.frontendmentor.io/challenges/myteam-multipage-website-mxlEauvW"
      >Frontend Mentor</a
    >. Frontend Mentor is a platform where users are given designs and the goal
    is to turn that design into a functioning website.
  </p>

  <img class="mt-8 rounded border border-slate-500" src="/myteam-desktop.png" />

  <h2 class="mt-16 text-2xl font-bold">Tech Stack</h2>
  <p class="mt-8">
    For this project I decided to use NextJS. I hadn't used it before and I
    wanted to play around with it. Being mostly a static website this is
    probably not the project where NextJS is going to shine. Nevertheless, I
    found the developer experience pleasing. I found things like the app router,
    font imports and Image and Link components very convenient.
  </p>

  <h2 class="mt-16 text-2xl font-bold">Challenges Encountered</h2>
  <p class="mb-16 mt-8">
    While not being the most complex of challenges, there were many aspects that
    required careful consideration. Making the page responsive, the mobile menu,
    positioning the background image for the different viewport sizes. There
    were enough small challenges in this project to provide a great learning
    experience.
  </p>
</Layout>
