---
import Layout from "../../layouts/Layout.astro";
import Review from "../../components/Review.astro";
---

<Layout title="Rango - David Tejada">
  <h1 class="mt-8 max-w-[30ch] text-4xl font-bold">Rango</h1>

  <div
    class="mt-16 flex flex-col items-center gap-8 leading-relaxed sm:flex-row"
  >
    <img class="size-32" src="/logo-rango.svg" alt="" />
    <ul>
      <li><strong>Type</strong>: Browser Extension</li>
      <li>
        <strong>Stack</strong>: Typescript, WebExtensions API, CSS, HTML, Web
        Components, React, Parcel, Jest, Puppeteer, Python
      </li>
      <li>
        <strong>Official Store Links</strong>:
        <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://chrome.google.com/webstore/detail/rango/lnemjdnjjofijemhdogofbpcedhgcpmb"
          >Chrome</a
        >,
        <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://microsoftedge.microsoft.com/addons/detail/rango/pcngjebdhphedjkfhipblkgjbjoeaaeb"
          >Edge</a
        >,
        <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://addons.mozilla.org/en-US/firefox/addon/rango/"
          >Firefox</a
        >,
        <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://apps.apple.com/es/app/rango-for-safari/id6461166435?l=en-GB&mt=12"
          >Safari</a
        >
      </li>
      <li>
        <strong>Documentation Page</strong>: <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://rango.click">rango.click</a
        >
      </li>
      <li>
        <strong>Repository</strong>: <a
          class="font-bold text-orange-600 dark:text-orange-400"
          href="https://github.com/david-tejada/rango">GitHub</a
        >
      </li>
    </ul>
  </div>

  <p class="mt-8">
    Rango is a cross browser extension that enables people to navigate websites
    and control their browsers by voice. Sitting on top of the phenomenal
    software Talon, it has become the go-to solution to browse the web for
    people with mobility challenges.
  </p>

  <h2 class="mt-16 text-2xl font-bold">Purpose</h2>
  <p class="mt-8">
    The origin of Rango was a simple question: "How do you make so that the
    hints in Vimium appear automatically?". At that point me and many other
    Talon users were using Vimium to click elements. Vimium was created to use
    with keyboard but triggering the command to show the hints by voice required
    a couple of extra seconds every time you wanted to click something. It
    worked but it was tedious. Me and many other Talon users had asked this
    question. It seemed simple enough that this could be enabled with a setting.
    But as I was going to find out it wasn't that simple.
  </p>
  <p class="mt-8">
    During the next two years I spent hundreds of hours making this idea a
    reality and I am happy to report that I succeeded. It wasn't easy and I
    found many challenges along the way but I was able to overcome them and make
    my idea a reality. Now Rango does more than just clicking. It lets you
    scroll, switch tabs, copy links or text content or elements, save reference
    to elements for later use and many other things.
  </p>

  <img
    class="mt-8 rounded-sm border border-slate-500"
    src="/rango-screenshot-1.png"
    alt="Screenshot of the page web.dev showing Rango hints. These are used to click and interact with elements by voice."
  />

  <h2 class="mt-16 text-2xl font-bold">Tech Stack</h2>
  <p class="mt-8">
    I hadn't used Typescript before but I was hearing lots of great things about
    it. So I decided to go with it and I don't regret it. To make the extension
    cross browser I used webextension-polyfill. Parcel was the bundler of choice
    and for the UI bits like the toast notifications or the settings page I went
    with React. Jest and Puppeteer for testing complete the stack.
  </p>

  <img
    class="mt-8 rounded-sm border border-slate-500"
    src="/rango-screenshot-settings.png"
    alt="Screenshot of the Rango setting page."
  />

  <h2 class="mt-16 text-2xl font-bold">Challenges Encountered</h2>
  <p class="mt-8">
    I have faced many challenges while building Rango. One of the most
    interesting ones was making the hints stable as the page scrolls or elements
    resize. In earlier versions of Rango hints would jump around when this
    happened. It was okay but it could get distracting. Improving this was very
    complex as I had to place elements all over the page DOM. I had to be very
    careful so that it wouldn't affect the layout of pages. I also had to add
    some complex logic for handling stacking contexts appropriately. It took a
    lot of effort but in the end it all worked out and people were very happy
    with the results.
  </p>

  <h2 class="mt-16 text-2xl font-bold">Lessons Learned</h2>

  <p class="mt-8">
    I could write a long article about all the things I learned while developing
    Rango. I had some coding knowledge going into it but I had never created a
    project of this magnitude. I became quite good at Typescript and I realized
    why people prefer it over plain Javascript. I learned about git bisect that
    helped me find a pesky bug. I learned that the way I use things aren't
    exactly the way users of your product are going to use it and that different
    people have different needs. I also learned about being very specific when
    writing documentation.
  </p>

  <h2 class="mt-16 text-2xl font-bold">User Reviews</h2>

  <p class="mt-8">Here is what some users have to say about Rango:</p>

  <div class="my-8 grid gap-4">
    <Review avatarImage="/avatars/adam_edison.jpg" author="Adam Edison"
      >This is the best browser extension for navigating everything in the
      browser without the use of a mouse. I'm using it with Talon, and it has
      excellent integration.</Review
    >
    <Review avatarImage="/avatars/zachary_mcgohan.jpg" author="Zachary McGohan"
      >Thank you for developing this! Super, super convenient with Talon
      compared to Click by Voice/Vimium/other options.</Review
    >
    <Review avatarImage="/avatars/john_arnold.jpg" author="John Arnold"
      >Really great work. Only problem is it makes you wish this functionality
      was built in to everything and not just the browser! Super useful.</Review
    >
    <Review avatarImage="/avatars/jon_weinrib.jpg" author="Jon Weinrib"
      >Really love this - Definitely a crucial addition to Talon and to
      hands-less computer interaction.</Review
    >
    <Review avatarImage="/avatars/sandeep_joel.jpg" author="Sandeep Joel"
      >This is the only extension that is faster then the vimium chrome
      extension to interact with websites using pure voice and talon.</Review
    >
  </div>
</Layout>
