---
const email = "devtejada@gmail.com";
---

<section aria-labelledby="contact" class="mt-36">
  <h2 id="contact" class="font-syne text-3xl font-bold">Get in Touch</h2>

  <div class="mt-12 grid grid-cols-1 gap-8 md:grid-cols-2">
    <div>
      <p>
        I am <strong>currently looking for a position</strong> as a frontend developer.
        If you think I could be a good fit for your team or you have any questions,
        please don't hesitate to contact me.
      </p>

      <p class="mt-4">
        You can fill out the contact form or send me an email to the address
        below.
      </p>

      <div class="mt-4 flex gap-1">
        <a
          href={`mailto:${email}`}
          class="border-accent text-accent grow rounded-l-xl border border-dashed p-2 text-center"
        >
          {email}
        </a>
        <button
          id="copy-email"
          aria-label="Copy email address to the clipboard"
          data-email={email}
          class="border-accent text-accent rounded-r-xl border p-2"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="clipboard lucide lucide-clipboard"
            ><rect width="8" height="4" x="8" y="2" rx="1" ry="1"></rect><path
              d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"
            ></path></svg
          >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="checkmark lucide lucide-check hidden"
          >
            <path d="M20 6 9 17l-5-5"></path>
          </svg>
        </button>
      </div>
    </div>

    <form
      novalidate
      name="contact"
      method="POST"
      action="/success"
      data-netlify="true"
      class="border-accent rounded-xl border p-4"
    >
      <div class="relative grid">
        <label for="name">Name</label>
        <input
          type="text"
          id="name"
          name="name"
          required
          class="border-accent peer rounded border px-2 py-1 [&:user-invalid]:border-red-500"
        />

        <p
          class="absolute -bottom-[calc(1lh+2px)] hidden items-center gap-1 text-sm text-red-500 peer-[&:user-invalid]:flex"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-alert"
            ><circle cx="12" cy="12" r="10"></circle><line
              x1="12"
              x2="12"
              y1="8"
              y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"
            ></line></svg
          >
          <span>This field is required</span>
        </p>
      </div>

      <div class="relative mt-6 grid">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          required
          class="border-accent peer rounded border px-2 py-1 [&:user-invalid]:border-red-500"
        />
        <p
          class="absolute -bottom-[calc(1lh+2px)] hidden items-center gap-1 text-sm text-red-500 peer-[&:user-invalid]:flex"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-alert"
            ><circle cx="12" cy="12" r="10"></circle><line
              x1="12"
              x2="12"
              y1="8"
              y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"
            ></line></svg
          >
          <span id="email-error-message">This field is required</span>
        </p>
      </div>

      <div class="relative mt-6 grid">
        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          required
          class="border-accent peer field-sizing-content min-h-24 rounded border px-2 py-1 [&:user-invalid]:border-red-500"
        ></textarea>
        <p
          class="absolute -bottom-[calc(1lh+2px)] hidden items-center gap-1 text-sm text-red-500 peer-[&:user-invalid]:flex"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-circle-alert"
            ><circle cx="12" cy="12" r="10"></circle><line
              x1="12"
              x2="12"
              y1="8"
              y2="12"></line><line x1="12" x2="12.01" y1="16" y2="16"
            ></line></svg
          >
          <span>This field is required</span>
        </p>
      </div>

      <button
        type="submit"
        class="bg-accent mt-8 flex w-full items-center justify-center gap-2 rounded px-8 py-2 text-white dark:text-slate-900"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-send"
          ><path
            d="M14.536 21.686a.5.5 0 0 0 .937-.024l6.5-19a.496.496 0 0 0-.635-.635l-19 6.5a.5.5 0 0 0-.024.937l7.93 3.18a2 2 0 0 1 1.112 1.11z"
          ></path><path d="m21.854 2.147-10.94 10.939"></path></svg
        >
        Send
      </button>
    </form>
  </div>

  <p class="mt-4"></p>
</section>

<script>
  const copyEmailButton = document.getElementById("copy-email");

  copyEmailButton.addEventListener("click", () => {
    navigator.clipboard.writeText(copyEmailButton.dataset.email);
    copyEmailButton.querySelector(".checkmark").classList.remove("hidden");
    copyEmailButton.querySelector(".clipboard").classList.add("hidden");

    setTimeout(() => {
      copyEmailButton.querySelector(".checkmark").classList.add("hidden");
      copyEmailButton.querySelector(".clipboard").classList.remove("hidden");
    }, 2000);
  });

  const form = document.querySelector("form");
  const name = document.getElementById("name") as HTMLInputElement;
  const email = document.getElementById("email") as HTMLInputElement;
  const message = document.getElementById("message") as HTMLTextAreaElement;
  const emailErrorMessage = document.getElementById(
    "email-error-message"
  ) as HTMLSpanElement;

  form.addEventListener("submit", (event) => {
    if (
      !name.validity.valid ||
      !email.validity.valid ||
      !message.validity.valid
    ) {
      event.preventDefault();

      emailErrorMessage.textContent = email.validity.typeMismatch
        ? "Please enter a valid email address"
        : "This field is required";
    }
  });
</script>

<style>
  form {
    box-shadow: 5px 5px 0px 0px var(--color-accent);
  }

  :is(#copy-email, button[type="submit"]) svg {
    transition: scale 0.2s ease-in-out;
  }

  :is(#copy-email, button[type="submit"]):hover svg {
    scale: 1.2;
  }
</style>
