---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portfolio - David Tejada" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body
    class="min-h-svh text-lg text-slate-600 dark:bg-slate-800 dark:text-slate-200"
  >
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style>
  body {
    display: grid;
    grid-template-columns:
      [full-width-start] auto [content-start] min(60rem, 100% - 4rem)
      [content-end] auto [full-width-end];
    grid-template-rows: auto 1fr auto;
  }
</style>
